<h3>View all requests from me</h3>

<ul>
  <%= render "requests_from_me", requests_from_me: @requests_from_me %>
</ul>

<h3>View all requests to me</h3>
<ul>
  <%= render "requests_to_me", requests_to_me: @requests_to_me %>
</ul>
