@import "bourbon";

@import "base/grid-settings";
@import "neat";
@import "base/base";

@import "landing_page";
@import "listing";
@import "location";

body {
  background-color: #e5e4e2;
  $base-background-color: #e5e4e2;
  font-family: 'PT Sans', sans-serif;
}

#container {
  @include outer-container;
}

// Must require things manually as you make various pages
// @import is the sass equivalent of 'require' in ruby
