<div class="each-location">
  <%= link_to location_path(location) do %>
    <div class="location-name">
      <%= location.name %>
    </div>
    <%= image_tag location.url, class: "location-image" %>
  <% end %>
</div>
