<div class="landing-top-image">
 <div class="underspan"></div>
</div>

<div class="for-the-weekend">
  Locations Near You
  <div class="small-weekend">
    Discover new places close to home
  </div>
</div>

<div class="locations-container">
  <div class="grid-items">
    <%= render @locations %>
  </div>
</div>
