<div class="top-nav-container">navnav
  <div class="nav-buttons"></div>
</div>

<div class="top-image-span"></div>

<div class="smaller-location-container">
  <div class="location-show-title"> 
    <%= @location.name %>
  </div>

  <div class="location-show-info-container">

    <div id="map_wrapper">
      <div id="map_canvas"></div>
    </div>

    <div class="location-show-side-info">
      Why visit <%= @location.name %>?
      <div class="location-show-more-info">
        <%= @location.info %>
      </div>
      <div class="location-show-map"></div>
    </div>
  </div>

  <div>
    <ul>
      <%= render @listings %>
    </ul>
  </div>
</div>
