<%= image_tag @location.url, class: "top-image-span" %>
<div class="location-show-title"><%= @location.name %></div>

<div id="map_wrapper">
  <div id="map_canvas"></div>
</div>

<div class="location-show-listings-area">
  <div class="cards">
    <%= render @listings %>
  </div>
</div>
